.banner{
  background-image: url(../../images/gnocchi\ with\ brussel\ sprouts.jpg);
  height: 66vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.banner h1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px;
}

.banner p {
  color: black;
  text-shadow: 2px;
}
